@import 'mixins';

.bookList {
  @include sm-up {
    display: none;
  }

  a {
    margin: 5px;
    border-radius: 50px;
    color: var(--primary-text);
    border: 1px solid var(--primary);
    height: 36px;
    transition: all 0.3s ease;

    &:hover {
      color: white;
      background: var(--primary);
    }
  }
}

.bookListTable {
  overflow-x: scroll;
  padding-bottom: 10px;
  font-size: 14px;
  display: none;

  @include sm-up {
    display: block;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #DDDDDD;
  }

  .bookListTableContent {
    display: grid;
    grid-template-columns: 170px 240px 160px 150px 130px 100px 130px 140px;

    @include md-up {
      grid-template-columns: 170px 270px 160px 150px 130px 100px 130px 140px;
    }

    > div {
      padding: 15px;
      border-bottom: 1px solid #E7E7E8;
  
      a {
        cursor: pointer;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }

    > div:nth-child(-n + 6) {
      color: #5C5A59;
    }
  
  
    > div:nth-child(8n) {
      background: white;
      border-left: 1px solid #E7E7E8;
      position: sticky;
      right: 0;
      
      a {
        color: var(--primary-text);
  
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }

}

.coverPhoto {
  max-width: calc(100% - 150px);
}