@import 'mixins';

.container {
    width: 100%;
    min-height: 100vh;
    padding: 0 0 0 330px;
    background: #F5F5F5;

    @include md-down {
        padding: 60px 0 0;
    }
}

.sidebar_sm {
    position: fixed;
    left: 0;
    top: 60px;
    background: #F5F5F5;
    height: calc(100vh - 60px);
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
    transition: all 0.3s;
    padding: 10px 3px;
    border-right: 1px solid rgb(214, 214, 214);

    @include md-down {
        left: -70px;

        &.expand {
            left: 0 !important;
        }
    }

    .nav_icon {
        position: relative;
        padding: 15px 0;
        cursor: pointer;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;

        svg path {
            transition: 0.2s all;
        }

        &.active, &:hover {
            background: #D1DBD8;
        }

        &:hover svg path {
            fill: #9E9E9E;
        }

        &.active svg path {
            fill: #224034;
        }
    }
}

.sidebar_lg {
    position: fixed;
    overflow-y: auto;
    left: 70px;
    top: 60px;
    background: #F5F5F5;
    height: calc(100vh - 60px);
    width: 230px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    z-index: 3;
    padding-top: 5px;
    color: #383838;

    @include md-down {
        left: -280px;
        
        &.expand {
            left: 70px !important;
        }
    }

    p {
        padding: 15px 25px;
    }

    svg {
        margin-right: 20px;
        width: 18px;
    }
    
    a {
        margin: 5px 0;
        text-align: left;
        width: 100%;
        padding: 10px 25px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    a:hover {
        background: #DDDDDD;
    }

    a.active {
        background: #DDDDDD;
    }
}

.sidebar_sub {
    position: fixed;
    overflow-y: auto;
    left: 0;
    top: 0;
    height: 100vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 20px 90px;
    transition: all 0.3s;
    z-index: 3;

    @include md-down {
        left: -350px;

        &.expand {
            left: 0 !important;
        }
    }

    .link {
        color: #8B8B8B;
        padding: 10px 25px;
        text-align: left;
        width: 100%;
        display: flex;
        align-items: center;
        border-left: 1px solid #636363;
    }

    .link:hover {
        background: #303237;
        color: white;
    }

    .link.active {
        font-weight: 600;
        color: white;
        border-left: 1px solid #FFFFFF;
    }
}

@mixin random-bgr(){
  background: rgb(random(255), random(255), random(255));
}

.header {
    .header_user {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .header_icon {
        @include random-bgr();
        border-radius: 50%;
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    svg {
        display: inline-block;
        vertical-align: top;
    }

    h1 {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1;
        margin: 0 0 0 10px;
        vertical-align: top;
    }

    button+button {
        margin-left: 10px;
    }
}

.main_bg {
    @include md-up {
        padding-top: 80px;
    }
}

.shadow {
    display: none;

    @include md-down {
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        top: 0;
        
        z-index: 2;
        background: rgba(0, 0, 0, 0.5);

        &:active,
        &:hover {
            transform: none !important;
        }

        &.active {
            display: block;
        }
    }
}

.wrapper {
    @include md-down {
        display: flex;
    }
}